<header class="w-full mb-8">
    <nav class="flex items-center justify-between flex-wrap p-6 it-scoop-bg">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
        <a href="/">
          <img width="150" src="/images/logo.svg" alt="شعار المجلة التقنية">
          <span class="tracking-tight text-white">معنا للخبر التقني معنى</span>
        </p>
        </div>
        <div class="">
            <a href="/about-us" class="block mt-4 lg:inline-block lg:mt-0 text-white text-semibold hover:text-gray-200">
                عن المجلة التقنية
            </a>
        </div>
    </nav>
</header>


