body {
  background-color: #EDF2F7;
}

.starter {
  color: blue;
}

.it-scoop-bg {
  background-color: #b02023;
}

article img {
  margin: 2rem;
  display: block;
  margin: 0 auto;
}

p {
  margin-bottom: 1rem;
  text-align: justify;
}

a {
  @apply text-blue-500;
}

h2 {
  @apply text-2xl;
  @apply font-semibold;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

h3 {
  @apply text-2xl;
  @apply font-semibold;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
